<html>
<head>
    <title>Volcanocopter flight list</title>
    <script type="text/javascript" src="/static/js/timeline.js"></script>
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>    
    <link rel="stylesheet" type="text/css" href="http://almende.github.com/chap-links-library/js/timeline/timeline.css">
    <link rel="stylesheet" type="text/css" href="/static/css/flightList.css">
</head>

<body>

<h1>Flight data overview</h1>

<table id="flights-table">
    <tr>
    <th>Logfile</th>
    <th>Length</th>
    <th>Comments</th>
    </tr>
    {% for flight in object_list %}
        <tr>
            <td><a href=flights/{{flight.slug}}>Log {{flight.id}}</a></td>
            <td>{% if flight.length %}{{flight.length}}{% endif %}</td>
            <td>{{flight.comments}}</td>
            <td>{{flight.gpsTimes.0}}</td>
        </tr>
    {% endfor %}
    </table>
</table>

<div id="mytimeline"></div>

<div id="info"></div>


    <script type="text/javascript">
        var timeline;
        var data;
        function drawTimeline() {
            //Drawing the timeline of all flights
            data = {{timeline_data|safe}}
            var options = {
                'width':  '100%',
                'height': '300px',
                'editable': false,
                'style': 'box'
            };
            timeline = new links.Timeline(document.getElementById('mytimeline'));
            timeline.draw(data, options);
        };
        function highlightFlight(event){
            flightsTableEntry=$("#flights-table>tbody>tr:contains(Log "+event.target.textContent+")")
            flightsTableEntry.addClass('highlighted')
            flightsTableEntry[0].scrollIntoView('200')
        };
        function unHighlightFlight(event){
            $("#flights-table>tbody>tr:contains(Log "+event.target.textContent+")").removeClass('highlighted')
        };
        $(document).ready(function() {
        drawTimeline();
        $(".timeline-event").hover(highlightFlight,unHighlightFlight)
        
        
                
        }
);    
    </script>
</body>
</html>
