{% extends 'base.html' %}
{% load progress_bar %}
{% block head %}
{% progress_bar_media %}
{% endblock %}
{% block nav-status %}Uploading new flight log{% endblock %}
{% block content %}
<form action="/upload" method="post" enctype="multipart/form-data" class="upload_form"> 
    {% csrf_token %}
    Note: Afterflight currently only supports:
    <ul>
    <li>Dataflash logs in the new format</li>
    <li>mavlink telemetry logs as produced by Mission Planner</li>
    </ul>     
    <p>Dataflash support is much better than mavlink log support at the moment.</p>
    <p>Maximum upload size is 10 megabytes. If you try to upload something bigger it will fail without an error message.</p>
    {{ form.as_p }}
    {% progress_bar %}
    <input type="submit" value = "Upload"/>
</form>
{% endblock content %}